*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 400;
}

h1, h2{
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 700;
}

.container{
    width: 960px;
    margin: 0 auto;
}

header{
    height: 699px;
    background: #222222;
    padding-top: 54px;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu1{
    display: flex;
    flex-direction: row;
}

.nav-menu1 ul{
    width: 320px;
    margin-left: 62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-menu2 ul{
    padding-top: 30px;
    width: 58px;
    height: 16.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul{
    display: flex;
    flex-direction: row;
}

header ul li{
    list-style-type: none;
    color: #D4D4D4;
}

.header-content{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-content-text{
    padding-left: 129px;
    display: flex;
    flex-direction: column;
}

.header-content-text h1{
    color: white;
}

.header-content-text p{
    color: #D4D4D4;
}

.find-tour-button{
    width: 240px;
    height: 50px;
    background: #FFCB06;
    border-radius: 25px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.advantage{
    padding-top: 85px;
    min-height: 321px;
    background: #131313;
    color: #D4D4D4;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.advantage-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantage-item p{
    margin-top: 34px;
}

.content{
    height: 808px;
    background: #ffffff;
    padding-top: 80px;
}

.content p{
    font-family: "Verdana";
    font-size: 15px;
}

.content-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-text{
    margin-left: 65px;
}

.content-advice{
    margin-top: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-advice ul{
    margin-left: 18px;
}

.content-advice li{
    color: #FFCB06;
    font-size: 20px;
}

.content-advice li span{
    color: black;
    font-family: "Verdana";
    font-size: 15px;
}

.form{
    height: 477px;
    background: #F0F0F0;
    padding-top: 100px;
}

.form-wrapper{
    display: flex;
    justify-content: space-between;
}

.form-text p{
    margin-top: 60px;
}

.form input[type="text"]{
    color: black;
    padding-left: 24px;
    border: none;
}

.form input[type="text"]::placeholder{
    color: black;
    font-family: "Verdana";
}

.form-big-room{
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-little-room{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-big-input{
    width: 440px;
    height: 50px;
}

.form-little-input{
    width: 215px;
    height: 50px;
}

.form-button-send{
    color: white;
    margin-top: 46px;
    border: none;
    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 215px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.table{
    height: 468px;
    background: #222222;
    padding-top: 97px;
}

.table-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-text h2{
    color: #FECA30;
}

.table-text p{
    color: white;
}

.table-text a{
    color: #FECA30;
}

table{
    margin-top: 77px;
    border-collapse: collapse;
    width: 100%;
    font-weight: 700;
    color: #D4D4D4;
}

.table-header{
    background-color: #111;
}

.table-information{
    border-bottom: 1px solid #555555;
}

th{
    text-align: left;
}

td, th{
    width: 25%;
    padding: 15px 0 15px 20px;
}

footer{
    height: 354px;
    background: #131313;
    padding-top: 60px;
}

.footer-flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-company{
    color: #D4D4D4;
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.footer-company p{
    margin-left: 15px;
}

.footer-p{
    color: #555;
    margin-top: 110px;
}

.footer-content{
    width: 698px;
    padding-top: 18px;
}

.footer-content> ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-content h3+ul{
    margin-top: 58px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer ul li{
    list-style-type: none;
}

footer h3{
    color: #D4D4D4;
}

footer h3::after{
    content: '';
    height: 1px;
    width: 180px;
    display: block;
    background-color: #555;
    margin-top: 12px;
}

footer li{
    color: #888;
}