*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 400;
    min-width: 1150px;
}

h1, h2{
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 700;
}

.container{
    width: 960px;
    margin: 0 auto;
}

header{
    height: 699px;
    background: #222222;
    padding-top: 54px;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu1{
    display: flex;
    flex-direction: row;
}

.nav-menu1 img{
    transition-duration: 2s;
}

.nav-menu1 img:hover{
    transition-duration: 2s;
    transform: rotate(360deg);
}

.nav-menu1 ul{
    width: 320px;
    margin-left: 62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-menu1 li{
    transition-duration: 1s;
}

.nav-menu1 li:hover{
    transition-duration: 1s;
    color: gray;
    transform: scale(1.2);
}

.nav-menu2 ul{
    padding-top: 30px;
    width: 58px;
    height: 16.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu2 img{
    transition-duration: 1s;
}

.nav-menu2 img:hover{
    transform: scale(1.5);
    transition-duration: 1s;
}

header ul{
    display: flex;
    flex-direction: row;
}

header ul li{
    list-style-type: none;
    color: #D4D4D4;
}

.header-content{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-content-text{
    padding-left: 129px;
    display: flex;
    flex-direction: column;
}

.header-content-text h1{
    color: white;
}

.header-content-text p{
    color: #D4D4D4;
}

.header-content img{
    transition-duration: 2s;
}

.header-content img:hover{
    transition-duration: 2s;
    transform: rotate(360deg) scale(0.65);
}

.find-tour-button{
    width: 240px;
    height: 50px;
    background: #FFCB06;
    border-radius: 25px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    transition-duration: 700ms;
}

.find-tour-button:hover{
    transition-duration: 700ms;
    transform: scale(1.1);
    background-color: #ffe278;
}

.find-tour-button:link, .find-tour-button:visited{
    color: black
}

.advantage{
    padding-top: 85px;
    min-height: 321px;
    background: #131313;
    color: #D4D4D4;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.advantage-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantage-item p{
    margin-top: 34px;
}

.advantage-item img{
    transition-duration: 6s;
}

.advantage-item img:hover{
    transition-duration: 6s;
    transform: rotate(-360deg) scale(1.1) translate(0, 20px);
}

.content{
    height: 808px;
    background: #ffffff;
    padding-top: 80px;
}

.content p{
    font-family: "Verdana";
    font-size: 15px;
}

.content-description-img{
    transition-duration: 1s;
}

.content-description-img:hover{
    transition-duration: 1s;
    transform: scale(1.1);
}

.content-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-text{
    margin-left: 65px;
}

.content-advice{
    margin-top: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-advice ul{
    margin-left: 18px;
}

.content-advice li{
    color: #FFCB06;
    font-size: 20px;
}

.content-advice li span{
    color: black;
    font-family: "Verdana";
    font-size: 15px;
}

.form{
    height: 477px;
    background: #F0F0F0;
    padding-top: 100px;
}

.form-wrapper{
    display: flex;
    justify-content: space-between;
}

.form-text p{
    margin-top: 60px;
}

.form input[type="text"]{
    color: black;
    padding-left: 24px;
    border: none;
}

.form input[type="text"]::placeholder{
    color: black;
    font-family: "Verdana";
}

.form-big-room{
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-little-room{
    width: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-big-input{
    width: 440px;
    height: 50px;
    transition-duration: 800ms;
}

.form-big-input:hover{
    transition-duration: 800ms;
    transform: scale(1.05);
}

.form-little-input{
    width: 215px;
    height: 50px;
    transition-duration: 800ms;
}

.form-little-input:hover{
    transition-duration: 800ms;
    transform: scale(1.05);
}

.form-checkbox{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.checkbox-text{
    margin-left: 17px;
}

/*.form-checkbox input{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox{
    display: block;
    width: 24px;
    height: 24px;
    background-color: #FFCB06;
}*/

.form-button-send{
    color: white;
    margin-top: 46px;
    border: none;
    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 215px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition-duration: 700ms;
}

.form-button-send:hover{
    transition-duration: 700ms;
    transform: scale(1.1);
    background-color: #585858;
}

.table{
    height: 468px;
    background: #222222;
    padding-top: 97px;
}

.table-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-text h2{
    color: #FECA30;
}

.table-text p{
    color: white;
}

.table-text a{
    color: #FECA30;
    transition-duration: 800ms;
}

.table-text a:hover{
    transition-duration: 800ms;
    color: #ffdc73;
}

table{
    margin-top: 77px;
    border-collapse: collapse;
    width: 100%;
    font-weight: 700;
    color: #D4D4D4;
}

.table-header{
    background-color: #111;
    transition-duration: 1s;
}

.table-information{
    border-bottom: 1px solid #555555;
    transition-duration: 1s;
}

.table-header:hover, .table-information:hover{
    transition-duration: 1s;
    transform: scale(1.01);
    background-color: #2d2d2d;
}

th{
    text-align: left;
}

td, th{
    width: 25%;
    padding: 15px 0 15px 20px;
}

footer{
    height: 354px;
    background: #131313;
    padding-top: 60px;
}

.footer-flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-company{
    color: #D4D4D4;
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.footer-company p{
    margin-left: 15px;
}

.footer-p{
    color: #555;
    margin-top: 110px;
}

.footer-content{
    width: 698px;
    padding-top: 18px;
}

.footer-content> ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-content h3+ul{
    margin-top: 58px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-content-h3{
    transition-duration: 800ms;
}

.footer-content-h3:hover{
    transition-duration: 800ms;
    transform: scale(1.1);
    color: white;
}

.footer-content-li{
    transition-duration: 800ms;
}

.footer-content-li:hover{
    transition-duration: 800ms;
    transform: scale(1.2);
    color: white;
}

footer ul li{
    list-style-type: none;
}

footer h3{
    color: #D4D4D4;
}

footer h3::after{
    content: '';
    height: 1px;
    width: 180px;
    display: block;
    background-color: #555;
    margin-top: 12px;
}

footer li{
    color: #888;
}